\#*\#
*~
*.bak
*.swp
*.swo
.DS_Store

atlassian-ide-plugin.xml
*.class

target/
test-output/
.idea/*
.project
.classpath
.settings/
.metadata/
*.impl
.idea/
*.iml

prodDb.*

*.log
brooklyn*.log.*

*brooklyn-persisted-state/

ignored